<div class="well">
    <p>The NPR Corpus web app is developed and maintained by Bryan Li, with
    assistance from Jesse Harris.</p>
    <p>Bryan is currently a student studying computer science and linguistics
    at Columbia University. Jesse is a linguistics professor at UCLA, and
    director of the UCLA Language Processing Lab.</p>

    <p>The app is built in Ruby on Rails, using MongoDB to store the transcripts,
    and a whole suite of Ruby gems to make it fun and functional.</p>
    <p>For comments, bug reports, and general feedback, please email us at
    nprcorpus at gmail dot com.</p>
</div>

<%= link_to image_tag("npr-home.png", alt: "NPR logo"), 'http://npr.org/' %>
