<div class="center jumbotron">
  <h2>
    Welcome to the NPR Corpus web application. Register for an account to save
    your searches and view the database of transcripts.
  </h2>

  <h2>
  Currently indexing <%= Transcript.count %> articles from NPR,
  current as of <%= Transcript.order_by(:date.desc).first.date.to_date %>.
  </h2>
</div>

<%= link_to image_tag("npr-home.png", alt: "NPR logo"), 'http://npr.org/' %>
